<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Modules{% endblock %}</title>
    {% block stylesheets %}
        {# Lien vers votre CSS si nécessaire #}
        {# <link rel="stylesheet" href="{{ asset('css/style.css') }}"/> #}
    {% endblock %}
</head>
<body>
<h1>Les modules de Tek-Up</h1>
{% block body %}
    test
{% endblock %}
</body>
</html>